:root {
  --text-color: #434455;
  --main-color: #2e2f42;
  --btn-hover-color: #4d5ae5;
}
body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--main-color);
}
h1 {
  margin: 0px auto;
}
h2 {
  margin: 0px auto;
}
h3 {
  margin: 0px auto;
}
ul {
  margin: 0px auto;
}
.link {
  text-decoration: none;
  color: var(--main-color);
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover,
.link:focus {
  color: #404bbf;
}
.list {
  list-style: none;
}

/*Site Header*/
.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto;
}
.header-container {
  display: flex;
  padding-top: 24px;
  padding-bottom: 24px;
}
.header-style {
  border-bottom: 1px solid #e7e9fc;
}
.navigation {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 76px;
  font-family: "Raleway";
  font-weight: 800;
}
.logo-item {
  color: var(--btn-hover-color);
}
.menu {
  padding: 0;
  display: flex;
  gap: 40px;
}
.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  position: relative;
}
.menu-item.current::after {
  content: "";
  position: absolute;
  left: 0;
  top: 42px;
  width: 100%;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
}

.contacts-list {
  font-weight: 400;
  display: flex;
  flex-direction: row;
  padding-left: 300px;
  gap: 40px;
}
.phone-number {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.mail {
  display: flex;
  color: var(--text-color);
}
.btn {
  font-family: inherit;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: #4d5ae5;
  cursor: pointer;
  transition-property: border-color, background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:is(:hover, :focus) {
  border-color: transparent;
  color: #ffffff;
  background-color: var(--btn-hover-color);
}
.main-container {
  width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0px auto;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover, cover;
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  max-width: 496px;
  margin-bottom: 64px;
  color: #ffffff;
}
.main-btn {
  display: block;
  margin: 0px auto;
  background: var(--btn-hover-color);
  color: #ffffff;
  border-color: transparent;
}
.main-btn:is(:hover, :focus) {
  background: #404bbf;
}
.second-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.third-title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.descr-container {
  padding-top: 120px;
  padding-bottom: 120px;
}
.descr {
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 24px;
  padding: 0;
}
.descr-item {
  width: 264px;
}
.desr-icon-list {
  display: flex;
  padding-left: 0px;
  margin-bottom: 8px;
  gap: 24px;
}
.thumb {
  width: 264px;
  height: 112px;
  display: flex;
  margin: 0px auto;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  background-color: #f4f4fd;
  border-radius: 4px;
}
.descr-item .text {
  margin-top: 8px;
  margin-bottom: 0;
}
.skills-container {
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 120px;
}
.skills-title {
  width: 323px;
  text-align: center;
  letter-spacing: 0.02em;
}
.skills {
  padding: 0;
  display: flex;
  gap: 24px;
  margin-top: 72px;
}
.skills-item {
  width: 360px;
  height: 300px;
}
.team-container {
  padding: 0;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0 auto;
  background-color: #f4f4fd;
}
.team-container .container {
  width: 1440px;
  margin: 0 auto;
}
.team-title {
  display: flex;
  text-align: center;
  letter-spacing: 0.02em;
  width: 163px;
}
.our-team {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-list {
  display: flex;
  margin-top: 72px;
  padding-left: 0px;
  text-align: center;
  justify-content: center;
  gap: 24px;
}
.team-item {
  width: 264px;
  display: block;
  flex-wrap: nowrap;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.team-name {
  text-align: center;
}
.team-work {
  margin: 0;
  margin-top: 8px;
  text-align: center;
}
.team-soc-list {
  display: flex;
  margin: 0 auto;
  margin-top: 8px;
  padding-left: 16px;
  padding-right: 16px;
  justify-content: center;
  gap: 24px;
}
.team-soc-item {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-soc-link:is(:hover, :focus) {
  background-color: rgba(64, 75, 191, 1);
}
.team-soc-icon {
  fill: #f4f4fd;
}
/*Our customers*/
.customers-container {
  padding: 0;
  padding-top: 120px;
  padding-bottom: 120px;
}
.customers-title {
  display: flex;
  text-align: center;
  letter-spacing: 0.02em;
  width: 183px;
  margin: 0 auto;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  justify-content: center;
  gap: 24px;
}
.customer-link {
  width: 168px;
  height: 88px;
  display: flex;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  cursor: pointer;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-icon {
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,
.customer-link:focus {
  border: 1px solid #404bbf;
}
.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
  fill: #404bbf;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text-color);
}
.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}
.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin-bottom: 84px;
  padding-left: 0px;
  padding-right: 0px;
}
.filter-btn:is(:hover, :focus) {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-color: transparent;
}
.projects-list {
  padding-left: 0px;
  padding-right: 0px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.projects-list .text {
  margin-bottom: 0px;
  margin-top: 8px;
}
.projects-item {
  width: 360px;
  flex-basis: calc((100% - 24px) / 4);
}
.projects-link {
  display: block;
  transition-property: box-shadow, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:is(:hover, :focus) {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  color: var(--text-color);
}
.projects-cover-wrap {
  position: relative;
  width: 360px;
  height: 300px;
  overflow: hidden;
}
.projects-cover-text {
  position: absolute;
  top: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--btn-hover-color);
  padding: 40px 32px 164px 32px;
  margin: 0 auto;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-link:is(:hover, :focus) .projects-cover-text {
  transform: translateY(0);
}
.projects-img {
  width: 360px;
  height: 300px;
  display: block;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}
.projects-side-text {
  padding: 32px 16px 32px 16px;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  gap: 8px;
}
.footer-container {
  display: flex;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #2e2f42;
  background-size: cover;
  gap: 120px;
}
.footer-content {
  display: flex;
}
footer .text {
  margin-bottom: 0px;
  color: #e7e9fc;
}
.footer-info {
  display: block;
}
.logo-second-item {
  color: #f4f4fd;
}
.foot-soc-container {
  display: block;
  margin-left: 120px;
}
.foot-soc-title {
  font-weight: 500;
font-size: 16px;
line-height: 2;
  color: #e7e9fc;
  margin-left: 0px;
  margin-right: 0px;
  width: 96px;
  height: 24px;
}
.foot-soc-list {
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 16px;
  padding-left: 0px;
  gap: 16px;
}
.foot-soc-item {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.foot-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.foot-soc-link:is(:hover, :focus) {
  background-color: rgba(49, 208, 170, 1);
}
.footer-form{
display: flex;
}
.footer-field{
  margin-left:80px;
}
.footer-label{
  display:flex;
  font-weight: 500;
  color: #e7e9fc;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
 margin-bottom: 16px;
 width: 75px;
}
.footer-input{
width: 264px;
height: 40px;
font-weight: 400;
font-size: 12px;
line-height: 2;
background: #2E2F42;
color: #e7e9fc;
border: 1px solid rgba(255, 255, 255, 0.3);
border-radius: 4px;
padding-left: 16px;
}
.footer-input:focus{
  outline: transparent;
}
.footer-input-wrap{
  display: flex;
  gap: 24px;
}
.footer-btn{
display: flex;
justify-content: center;
align-items: center;
padding: 8px 24px;
gap: 16px;
width: 160px;
height:40px;
border-radius: 4px;
}
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  width: 408px;
  min-height: 576px;
  background-color: #fcfcfc;
  border-radius: 4px;
  padding: 24px;
  transition: transform 250ms linear;
}
.modal-button {
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-bottom: 24px;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.modal-button:is(:hover, :focus){
  fill: #FFFFFF;
  background-color:#404BBF;
}
.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
}
.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--btn-hover-color);
}
.modal-input:focus + .modal-icon {
  fill: var(--btn-hover-color);
}
.input-wrap {
  position: relative;
}
.modal-icon {
  position: absolute;
  left: 19px;
  top: 50%;
  transform: translateY(-50%);
}
.input-label {
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}
.modal-comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  background-color: transparent;
  outline: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  padding: 8px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment:focus {
  border-color: var(--btn-hover-color);
}
.check-text{
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
}
.check-text span{
width: 16px;
height: 16px;
border: 1.25px solid #2E2F42;
border-radius: 2px;
margin-right: 8px;
display: flex;
align-items: center;
justify-content: center;
fill:transparent;
}
.input-check:checked + .check-text span{
  border: none;
  background-color: var(--btn-hover-color);
  fill:#F4F4FD;
}
.policy-link{
  margin-left: 2px;
  color:rgba(77, 90, 229, 1);
}
.modal .main-btn {
  margin-top: 24px;
  width: 169px;
  height: 56px;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0) rotate(-360deg);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
